BASE_URL=
USEREMAIL=
PASSWORD=
USEREMAIL2=
PASSWORD2=
STORAGE_STATE=

#oms env

OMS_URL=
OMS_DB_HOST=
OMS_DB_USER=
OMS_DB_PASS=
OMS_DB_NAME=

#PLD env
PLD_URL=
PLD_COMPANY =
PLD_BRAND =
PLD_BRANCH =

# ESO Params
ESO_BASE_URL=
ESO_COMPANY=
ESO_BRANCH=
ESO_LOOP_MEMBER_USER=
ESO_LOOP_MEMBER_PASS=
